aws_region           = "us-east-1"
project_name         = "cashyloot"
environment          = "production"
domain_name          = "cashyloot.com"
hosted_zone_id       = "ZXXXXXXXXXXXXXXXXX"
vpc_id               = "vpc-XXXXXXXXXXXXXXXXX"
db_security_group_id = "sg-XXXXXXXXXXXXXXXXX"
db_cluster_id        = "cashylootdb"
db_subnet_group_name = "default-vpc-XXXXXXXXXXXXXXXXX"
amplify_role_name    = "AmplifySSRLoggingRole-XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
repository_url       = "https://github.com/your-org/your-repo"
